build/login.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SRG LK - Login
    </title>
  <link href="./css/index.css" rel="stylesheet"></head>
  <body>
    <main class="lk">
      <div class="bg"></div><img class="main-logo" src="images/main-screen-logo.png">
      <section class="particles particles--main" id="lk-particles-main"></section>
      <section class="login js-border" id="login" data-color-from="#5f64b4" data-color-to="#3c9893" data-radius="0">
        <form class="login__form">
          <div class="login__form-wrapper">
            <h2 class="login__title">регистрация</h2>
            <div class="login__inputs">
              <label class="login__label js-border" data-color-from="#d9ecb5" data-color-to="#67c8bf">
                <input class="login__input" placeholder="Имя">
              </label>
              <label class="login__label js-border" data-color-from="#d9ecb5" data-color-to="#67c8bf">
                <input class="login__input" placeholder="Фамилия">
              </label>
              <label class="login__label js-border" data-color-from="#d9ecb5" data-color-to="#67c8bf">
                <input class="login__input" placeholder="Ник">
              </label>
              <label class="login__label js-border" data-color-from="#d9ecb5" data-color-to="#67c8bf">
                <input class="login__input" placeholder="Почта">
              </label>
            </div>
            <div class="login__terms-wrapper">
              <div class="login__terms">
                <p class="login__terms-title">Пользовательское соглашение</p>
                <p class="login__terms-text">Lorem ipsum dolor sit amet, homero honestatis ad has, eros dissentias no his. Nonumes constituam in quo. Est ut libris gubergren adolescens, duo no populo malorum. Et sit probatus petentium, brute graeci fierent mel te.</p>
                <p class="login__terms-text">Odio antiopam no per, alia dignissim mea ex. Usu ex dolor consetetur, iudico scripta vix an. Id nullam admodum vis, atqui corpora dignissim ad nec. Unum cetero cu pro, oporteat scriptorem neglegentur his ei, et noster aperiri docendi est.</p>
                <p class="login__terms-text">No aliquid persequeris nam. Duo saepe aeterno ne. Brute illud singulis nec in, nusquam persequeris duo et. Veniam verear contentiones ad mel, odio falli te quo. Ius facilisi consetetur contentiones ad, ut possim omittam appetere his. Eripuit propriae eam ex.</p>
                <p class="login__terms-text">Magna repudiandae te mei. Tale soluta vix ex. Per at iuvaret pertinacia, commune deserunt senserit et mel. Sea molestiae eloquentiam an. His graeci ancillae cu, est detracto perfecto qualisque ne.</p>
                <p class="login__terms-text">Justo dolore regione cu sed, in congue explicari accusamus pro. Vim dicat debitis imperdiet ea, eu nam sumo zril erroribus. Mei reque molestie repudiare ea. Ad nec modus feugiat eloquentiam. At mel bonorum nostrum argumentum, dicat adipisci te vel. Eos ea modo iracundia. Novum periculis constituam id mel.</p>
              </div>
            </div>
            <div class="login__checkbox-wrapper js-checkbox">
              <div class="login__checkbox">
                <input type="checkbox"><img src="images/check.png">
              </div><span>я понимаю и принимаю Пользовательское Соглашение</span>
            </div>
          </div>
        </form>
      </section>
      <button class="main-btn main-btn--start js-border" data-color-from="#ffa425" data-color-to="#3c9893">Зарегистрироваться</button>
    </main>
<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-col footer-col--logo"><img class="footer-logo" src="images/footer-logo.png"></div>
    <div class="footer-col"><a class="footer-item" href="#" target="_blank">srg</a><a class="footer-item" href="#" target="_blank">Tokens</a><a class="footer-item" href="#" target="_blank">Teeam</a><a class="footer-item" href="#" target="_blank">Timeline</a><a class="footer-item" href="#" target="_blank">White Paper</a></div>
    <div class="footer-col"><a class="footer-item" href="#" target="_blank">company</a><a class="footer-item" href="#" target="_blank">Vacansies</a><a class="footer-item" href="#" target="_blank">Blog</a><a class="footer-item" href="#" target="_blank">Privacy Policy</a><a class="footer-item" href="#" target="_blank">Terms of Use</a></div>
    <div class="footer-col"><a class="footer-item" href="#" target="_blank">policies</a><a class="footer-item" href="#" target="_blank">KYC & AML</a><a class="footer-item" href="#" target="_blank">Token</a></div>
    <div class="footer-col"><a class="footer-item" href="#" target="_blank">CONTACTS</a>
      <div class="footer-item">General:<a href="#" target="_blank">info@srg.ru</a></div><a class="footer-item lang lang--ru" href="#" target="_blank">RU</a><a class="footer-item lang lang--en" href="#" target="_blank">EN</a>
    </div>
  </div>
</footer>
  <script type="text/javascript" src="js/index.js"></script></body>
</html>

source/screens/login.pug
extends ./../base
block title
    | SRG LK - Login

block main
    main.lk
        div.bg
        img.main-logo(src=require('../images/main-screen-logo.png'))
        section.particles.particles--main(id="lk-particles-main")
        section#login.login(class="js-border" data-color-from="#5f64b4" data-color-to="#3c9893", data-radius="0")
            form.login__form
                div.login__form-wrapper
                    h2.login__title регистрация
                    div.login__inputs
                        label.login__label(class="js-border" data-color-from="#d9ecb5" data-color-to="#67c8bf")
                            input.login__input(placeholder="Имя")
                        label.login__label(class="js-border" data-color-from="#d9ecb5" data-color-to="#67c8bf")
                            input.login__input(placeholder="Фамилия")
                        label.login__label(class="js-border" data-color-from="#d9ecb5" data-color-to="#67c8bf")
                            input.login__input(placeholder="Ник")
                        label.login__label(class="js-border" data-color-from="#d9ecb5" data-color-to="#67c8bf")
                            input.login__input(placeholder="Почта")
                    div.login__terms-wrapper
                        div.login__terms
                            p.login__terms-title Пользовательское соглашение
                            p.login__terms-text Lorem ipsum dolor sit amet, homero honestatis ad has, eros dissentias no his. Nonumes constituam in quo. Est ut libris gubergren adolescens, duo no populo malorum. Et sit probatus petentium, brute graeci fierent mel te.
                            p.login__terms-text Odio antiopam no per, alia dignissim mea ex. Usu ex dolor consetetur, iudico scripta vix an. Id nullam admodum vis, atqui corpora dignissim ad nec. Unum cetero cu pro, oporteat scriptorem neglegentur his ei, et noster aperiri docendi est.
                            p.login__terms-text No aliquid persequeris nam. Duo saepe aeterno ne. Brute illud singulis nec in, nusquam persequeris duo et. Veniam verear contentiones ad mel, odio falli te quo. Ius facilisi consetetur contentiones ad, ut possim omittam appetere his. Eripuit propriae eam ex.
                            p.login__terms-text Magna repudiandae te mei. Tale soluta vix ex. Per at iuvaret pertinacia, commune deserunt senserit et mel. Sea molestiae eloquentiam an. His graeci ancillae cu, est detracto perfecto qualisque ne.
                            p.login__terms-text Justo dolore regione cu sed, in congue explicari accusamus pro. Vim dicat debitis imperdiet ea, eu nam sumo zril erroribus. Mei reque molestie repudiare ea. Ad nec modus feugiat eloquentiam. At mel bonorum nostrum argumentum, dicat adipisci te vel. Eos ea modo iracundia. Novum periculis constituam id mel.
                    div.login__checkbox-wrapper(class="js-checkbox")
                        div.login__checkbox
                            input(type="checkbox")
                            img(src=require('../images/check.png'))
                        span я понимаю и принимаю Пользовательское Соглашение
        button.main-btn.main-btn--start(class="js-border" data-color-from="#ffa425" data-color-to="#3c9893") Зарегистрироваться
