build/start.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SRG LK - Main
    </title>
  <link href="./css/index.css" rel="stylesheet"></head>
  <body>
    <main class="lk"><img class="main-logo" src="images/main-screen-logo.png">
      <section class="main-screen" id="start">
        <section class="particles particles--1" id="lk-particles-1"></section>
        <section class="particles particles--2" id="lk-particles-2"></section>
        <section class="video js-video">
          <div id="ytplayer"></div>
          <div class="js-video-overlay"></div>
          <h1 class="video-title js-video-title"><span>SRG</span><span>Play & Earn</span>
            <div class="video-btn-wrapper js-video-start"><img class="video-btn" src="images/play-btn.png"></div>
          </h1>
        </section>
        <button class="main-btn main-btn--start js-border" data-color-from="#ffa425" data-color-to="#f8dd52">Пройти регистрацию</button>
      </section>
    </main>
<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-col footer-col--logo"><img class="footer-logo" src="images/footer-logo.png"></div>
    <div class="footer-col"><a class="footer-item" href="#" target="_blank">srg</a><a class="footer-item" href="#" target="_blank">Tokens</a><a class="footer-item" href="#" target="_blank">Teeam</a><a class="footer-item" href="#" target="_blank">Timeline</a><a class="footer-item" href="#" target="_blank">White Paper</a></div>
    <div class="footer-col"><a class="footer-item" href="#" target="_blank">company</a><a class="footer-item" href="#" target="_blank">Vacansies</a><a class="footer-item" href="#" target="_blank">Blog</a><a class="footer-item" href="#" target="_blank">Privacy Policy</a><a class="footer-item" href="#" target="_blank">Terms of Use</a></div>
    <div class="footer-col"><a class="footer-item" href="#" target="_blank">policies</a><a class="footer-item" href="#" target="_blank">KYC & AML</a><a class="footer-item" href="#" target="_blank">Token</a></div>
    <div class="footer-col"><a class="footer-item" href="#" target="_blank">CONTACTS</a>
      <div class="footer-item">General:<a href="#" target="_blank">info@srg.ru</a></div><a class="footer-item lang lang--ru" href="#" target="_blank">RU</a><a class="footer-item lang lang--en" href="#" target="_blank">EN</a>
    </div>
  </div>
</footer>
  <script type="text/javascript" src="js/index.js"></script></body>
</html>

source/screens/start.pug
extends ./../base
block title
    | SRG LK - Main

block main
    main.lk
        img.main-logo(src=require('../images/main-screen-logo.png'))
        section#start.main-screen
            section.particles.particles--1(id="lk-particles-1")
            section.particles.particles--2(id="lk-particles-2")
            section.video(class="js-video")
                div#ytplayer
                div(class="js-video-overlay")
                h1.video-title(class="js-video-title")
                    span SRG
                    span Play & Earn
                    div.video-btn-wrapper(class="js-video-start")
                        img.video-btn(src=require('../images/play-btn.png'))
            button.main-btn.main-btn--start(class="js-border" data-color-from="#ffa425" data-color-to="#f8dd52") Пройти регистрацию
