build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SRG LK - Master
    </title>
  <link href="./css/index.css" rel="stylesheet"></head>
  <body>
    <main class="lk">
      <div class="bg"></div><img class="main-logo" src="images/main-screen-logo.png">
      <section class="section">
        <div class="pin master"><a href="start.html">start</a><a href="login.html">login</a><a href="personal.html">personal</a><a href="partners.html">partners</a><a href="study.html">study</a><a href="promo.html">promo</a><a href="stats.html">stats</a><a href="reward.html">reward</a><a href="settings.html">settings</a></div>
      </section>
    </main>
<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-col footer-col--logo"><img class="footer-logo" src="images/footer-logo.png"></div>
    <div class="footer-col"><a class="footer-item" href="#" target="_blank">srg</a><a class="footer-item" href="#" target="_blank">Tokens</a><a class="footer-item" href="#" target="_blank">Teeam</a><a class="footer-item" href="#" target="_blank">Timeline</a><a class="footer-item" href="#" target="_blank">White Paper</a></div>
    <div class="footer-col"><a class="footer-item" href="#" target="_blank">company</a><a class="footer-item" href="#" target="_blank">Vacansies</a><a class="footer-item" href="#" target="_blank">Blog</a><a class="footer-item" href="#" target="_blank">Privacy Policy</a><a class="footer-item" href="#" target="_blank">Terms of Use</a></div>
    <div class="footer-col"><a class="footer-item" href="#" target="_blank">policies</a><a class="footer-item" href="#" target="_blank">KYC & AML</a><a class="footer-item" href="#" target="_blank">Token</a></div>
    <div class="footer-col"><a class="footer-item" href="#" target="_blank">CONTACTS</a>
      <div class="footer-item">General:<a href="#" target="_blank">info@srg.ru</a></div><a class="footer-item lang lang--ru" href="#" target="_blank">RU</a><a class="footer-item lang lang--en" href="#" target="_blank">EN</a>
    </div>
  </div>
</footer>
  <script type="text/javascript" src="js/index.js"></script></body>
</html>

source/index.pug
extends base
block title
    | SRG LK - Master

block main
    main.lk
        div.bg
        img.main-logo(src=require('./images/main-screen-logo.png'))
        section.section
            div.pin.master
                a(href="start.html") start
                a(href="login.html") login
                a(href="personal.html") personal
                a(href="partners.html") partners
                a(href="study.html") study
                a(href="promo.html") promo
                a(href="stats.html") stats
                a(href="reward.html") reward
                a(href="settings.html") settings
